.black_header
  &__background
    display: flex
    flex-direction: row
    justify-content: space-around
    width: 100%
    background-color: black
  &__description
    width: 85%
    color: white
    font-size: 5vw
  &__logo
    width: 5%
    height: auto