.request-grid-holder
  display: grid
  grid-template-columns: repeat(10, 1fr)
  grid-template-rows: repeat(auto-fill, 1fr)
  background-color: rgb(246,215,176)
  border: 3px solid black
  border-radius: 20px
  margin-top: 2.5%
  &__self
    grid-column: 1 / 10
    grid-row: 2 / 3
    font-size: 2vw
    color: black
    padding-left: 1.3%